.blog {
    background: #0284D0;
    font-family: 'Open Sans';
    font-style: normal;
}

.blog__date {
    @extend .blog;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 25px;
    padding-top: 25px;
}

.blog__title {
    @extend .blog;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: #FFFFFF;
    margin-left: 25px;
}

.blog__article {

    @extend .blog;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
    margin-left: 25px;
}

button {
    width: 196px;
    height: 50px;
    left: 30px;
    top: 2587px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.blog__button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    background: #0284D0;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-left: 25px;

    &:hover,
    &:focus {
        background: #57aee0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}