img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.callback-img {
  background-color: #e5e5e5;
}
.callback-img_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
