.container {
  width: 1200;
  padding: 20px;
}
.cases {
  background-color: #ffffff;
}
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.cases-item {
  width: calc(100% - 8px / 4);
}
