.cases__uppertitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;

  color: #333333;
}

.cases__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  text-align: center;

  color: #333333;
}

.cases__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  text-align: center;

  color: #333333;
}
