.header {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Rectangle.png);
    height: 700px;
    background-repeat: no-repeat;
    
  &__link {
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #ffffff;
  }
  &__logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #28a745;
  }

  &__Icon {
    
    width: 30px;
    height: 30px;
    fill: #ffffff;
   
  }
  &__svg {
    color: #28a745;
    fill: #28a745;
    width: 30px;
    height: 30px;
  }
}
a{
    background-color: none !important;
}

