h2,
p {
    margin: 0;
}

.container {
    padding-top: 84px;
    padding-right: 44px;
    padding-bottom: 84px;
    padding-left: 30px;
    background-color: #28A745;
    color: #FFFFFF;
}

.solution__foreword {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(33/20);
}

.solution__title {
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 38px;
    line-height: calc(48/38);
}

.solution__text {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
}

.solution__button {
    display: inline-flex;
    min-width: 167px;
    padding-top: 11px;
    padding-right: 27px;
    padding-bottom: 12px;
    padding-left: 42px;

    border: 1px solid #FFFFFF;
    border-radius: 5px;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    color: #FFFFFF;;
    background-color: #28A745;

    cursor: pointer;
}

