<section class="activitis">
  <div class="activitis-conteiner">
    <ul class="activitis-list">
      <li class="activitis-item">
        <div class="activitis-image">
          <svg class="activitis-image-info" width="67" height="67">
            <use href="#"></use>
          </svg>
        </div>
        <h2 class="activitis-title">Investmant Banking</h2>
        <p class="activitis-uppertitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="activitis-item">
        <div class="activitis-image">
          <svg class="about-image-info" width="67" height="67">
            <use href="#"></use>
          </svg>
        </div>
        <h2 class="activitis-title">Portfolio Manager</h2>
        <p class="activitis-uppertitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="activitis-item">
        <div class="activitis-image">
          <svg class="about-image-info" width="67" height="67">
            <use href="#"></use>
          </svg>
        </div>
        <h2 class="activitis-title">Tax & Custudio</h2>
        <p class="activitis-uppertitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
