<div class="callback">
  <form class="callback-form">
    <p class="callback-form__title">Request Callback</p>

    <div class="callback-form__field">
      <label class="callback-form__label" for="name">Enter your name</label>
      <input
        class="callback-form__input"
        type="text"
        name="name"
        id="name"
        required
      />
    </div>

    <div class="callback-form__field">
      <label class="callback-form__label" for="email">Enter email*</label>
      <input
        class="callback-form__input"
        type="email"
        name="email"
        id="email"
        required
      />
    </div>
    <button class="callback-form__btn" type="submit">Send</button>
  </form>
</div>
