<section class="cases">
  <ul class="cases-list">
    <li class="cases-item">
      <img src="/src/images/cases/нарада.jpg" alt="conference" width="320" />
    </li>
    <li class="cases-item">
      <img src="/src/images/cases/проекти.jpg" alt="project" width="320" />
    </li>
    <li class="cases-item">
      <img
        src="/src/images/cases/співпраця.jpg"
        alt="cooperation"
        width="320"
      />
    </li>
    <li class="cases-item">
      <img src="/src/images/cases/команда.jpg" alt="team" width="320" />
    </li>
    <li class="cases-item">
      <img src="/src/images/cases/робота.jpg" alt="work" width="320" />
    </li>
    <li class="cases-item">
      <img src="/src/images/cases/будівлі.jpg" alt="buildings" width="320" />
    </li>
    <li class="cases-item">
      <img src="/src/images/cases/керівник.jpg" alt="manager" width="320" />
    </li>
    <li class="cases-item">
      <img
        src="/src/images/cases/робота команти.jpg"
        alt="team work"
        width="320"
      />
    </li>
  </ul>

  <ul class="cases-list__new">
    <li class="cases-item__new">
      <img src="/src/images/cases/нарада.jpg" alt="conference" width="450" />
    </li>
    <li class="cases-item__new">
      <img src="/src/images/cases/проекти.jpg" alt="project" width="450" />
    </li>
    <li class="cases-item__new">
      <img
        src="/src/images/cases/співпраця.jpg"
        alt="cooperation"
        width="450"
      />
    </li>
    <li class="cases-item__new">
      <img src="/src/images/cases/команда.jpg" alt="team" width="450" />
    </li>
    <li class="cases-item__new">
      <img src="/src/images/cases/робота.jpg" alt="job" width="450" />
    </li>
    <li class="cases-item__new">
      <img src="/src/images/cases/будівлі.jpg" alt="buildings" width="450" />
    </li>
    <li class="cases-item__new">
      <img src="/src/images/cases/керівник.jpg" alt="buildings" width="450" />
    </li>
    <li class="cases-item__new">
      <img
        src="/src/images/cases/робота команти.jpg"
        alt="buildings"
        width="450"
      />
    </li>
  </ul>
</section>
