<section class="services">
  <ul class="services__list">
    <li class="services__item">
      <h2 class="services__title">Investmant Banking</h2>
      <p class="services__desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Consequatur,<br />
        necessitatibus!
      </p>
    </li>
    <li class="services__item">
      <h2 class="services__title">Portfolio Manager</h2>
      <p class="services__desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Consequatur,<br />
        necessitatibus!
      </p>
    </li>
    <li class="services__item">
      <h2 class="services__title">Tax & Custudio</h2>
      <p class="services__desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Consequatur,<br />
        necessitatibus!
      </p>
    </li>
  </ul>
</section>
