<ul class="list team-list">
  <li class="team-member">

    <div class="team-description">
      <h3 class="team-title third-title">John Doe</h3>
      <p lang="en" class="team-text">President</p>
      <ul class="team-soc-list list">
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="team-member">
    <img width="428" height="286" src="./images/team-member-2.jpg" alt="photo vice president" />
    <div class="team-description">
      <h3 class="team-title third-title">Jane Doe</h3>
      <p lang="en" class="team-text">Vice President</p>
      <ul class="team-soc-list list">
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="team-member">
    <img width="420" height="280" src="./images/team-member-3.jpg" alt="photo marketing head" />
    <div class="team-description">
      <h3 class="team-title third-title">Steve Smith</h3>
      <p lang="en" class="team-text">Marketing Head</p>
      <ul class="team-soc-list list">
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link link">
            <svg class="soc-icon" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>